n8n/workflows.json
{
  "name": "CRM Automotriz - Seguimiento y Alertas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "8f8e2850-8c29-4d2c-9a4f-561b2e8a1f81",
      "name": "Cron Diario (8:00 AM)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        100,
        150
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://prospects-service/api/prospectos/inactivos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer internal_n8n_system_token"
            }
          ]
        },
        "options": {}
      },
      "id": "dbf2c8a1-7c2a-4df3-8d3c-9a2c1f8e3d0d",
      "name": "Consultar Prospectos Inactivos (>5 días)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        300,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "bf8c2d91-1a3b-4c5e-8d7e-9f0a2b1c3d4e",
      "name": "Inactivos Encontrados?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://prospects-service/api/alertas/inactividad",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer internal_n8n_system_token"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prospectos",
              "value": "={{ $json.prospectos }}"
            }
          ]
        },
        "options": {}
      },
      "id": "df2c8e1a-2b3c-4d5e-8f7a-9a0b1c2d3e4f",
      "name": "Disparar Alerta a Laravel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        700,
        130
      ]
    },
    {
      "parameters": {
        "path": "prospectos",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "e2c8d1a3-b4c5-4d5e-8f7a-9a0b1c2d3e4f",
      "name": "Webhook: Evento Prospecto",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        350
      ],
      "webhookId": "9b1c2d3e-4f5a-6b7c-8d9e-0a1b2c3d4e5f"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            {
              "value2": "deleted",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "c1a2b3c4-d5e6-7a8b-9c0d-1e2f3a4b5c6e",
      "name": "Switch: Accion Prospecto",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        300,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO sales_db.prospectos (id, nombre, email, telefono, vehiculo_id, etapa, empleado_id, deleted_at) VALUES ({{ $json.body.prospecto.id }}, '{{ $json.body.prospecto.nombre }}', '{{ $json.body.prospecto.email }}', '{{ $json.body.prospecto.telefono }}', {{ $json.body.prospecto.vehiculo_id }}, '{{ $json.body.prospecto.etapa }}', {{ $json.body.prospecto.empleado_id }}, {{ $json.body.prospecto.deleted_at ? \"'\" + $json.body.prospecto.deleted_at + \"'\" : 'NULL' }}) ON DUPLICATE KEY UPDATE nombre=VALUES(nombre), email=VALUES(email), telefono=VALUES(telefono), vehiculo_id=VALUES(vehiculo_id), etapa=VALUES(etapa), empleado_id=VALUES(empleado_id), deleted_at=VALUES(deleted_at);"
      },
      "id": "e2c8d1a3-b4c5-4d5e-8f7a-9a0b1c2d3e4d",
      "name": "Sync: Upsert Prospecto (Sales)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        500,
        320
      ],
      "credentials": {
        "mySql": {
          "id": "mysql-conn-id",
          "name": "automotriz_db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO dashboard_db.prospectos (id, nombre, email, telefono, vehiculo_id, etapa, empleado_id, deleted_at) VALUES ({{ $('Webhook: Evento Prospecto').item.json.body.prospecto.id }}, '{{ $('Webhook: Evento Prospecto').item.json.body.prospecto.nombre }}', '{{ $('Webhook: Evento Prospecto').item.json.body.prospecto.email }}', '{{ $('Webhook: Evento Prospecto').item.json.body.prospecto.telefono }}', {{ $('Webhook: Evento Prospecto').item.json.body.prospecto.vehiculo_id }}, '{{ $('Webhook: Evento Prospecto').item.json.body.prospecto.etapa }}', {{ $('Webhook: Evento Prospecto').item.json.body.prospecto.empleado_id }}, {{ $('Webhook: Evento Prospecto').item.json.body.prospecto.deleted_at ? \"'\" + $('Webhook: Evento Prospecto').item.json.body.prospecto.deleted_at + \"'\" : 'NULL' }}) ON DUPLICATE KEY UPDATE nombre=VALUES(nombre), email=VALUES(email), telefono=VALUES(telefono), vehiculo_id=VALUES(vehiculo_id), etapa=VALUES(etapa), empleado_id=VALUES(empleado_id), deleted_at=VALUES(deleted_at);"
      },
      "id": "e2c8d1a3-b4c5-4d5e-8f7a-9a0b1c2d3e5d",
      "name": "Sync: Upsert Prospecto (Dashboard)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        700,
        320
      ],
      "credentials": {
        "mySql": {
          "id": "mysql-conn-id",
          "name": "automotriz_db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM sales_db.prospectos WHERE id = {{ $json.body.prospecto.id }};"
      },
      "id": "e2c8d1a3-b4c5-4d5e-8f7a-9a0b1c2d3e4c",
      "name": "Sync: Delete Prospecto (Sales)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        500,
        480
      ],
      "credentials": {
        "mySql": {
          "id": "mysql-conn-id",
          "name": "automotriz_db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM dashboard_db.prospectos WHERE id = {{ $('Webhook: Evento Prospecto').item.json.body.prospecto.id }};"
      },
      "id": "e2c8d1a3-b4c5-4d5e-8f7a-9a0b1c2d3e5c",
      "name": "Sync: Delete Prospecto (Dashboard)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        700,
        480
      ],
      "credentials": {
        "mySql": {
          "id": "mysql-conn-id",
          "name": "automotriz_db"
        }
      }
    },
    {
      "parameters": {
        "path": "ventas",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "f3c9d2a4-b5c6-4d5e-8f7a-9a0b1c2d3e4f",
      "name": "Webhook: Evento Venta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        650
      ],
      "webhookId": "0b1c2d3e-4f5a-6b7c-8d9e-0a1b2c3d4e5f"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            {
              "value2": "deleted",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "c1a2b3c4-d5e6-7a8b-9c0d-1e2f3a4b5c6f",
      "name": "Switch: Accion Venta",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        300,
        680
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO insurance_db.ventas (id, prospecto_id, vehiculo_id, empleado_id, monto, estado, deleted_at) VALUES ({{ $json.body.venta.id }}, {{ $json.body.venta.prospecto_id }}, {{ $json.body.venta.vehiculo_id }}, {{ $json.body.venta.empleado_id }}, {{ $json.body.venta.monto }}, '{{ $json.body.venta.estado }}', {{ $json.body.venta.deleted_at ? \"'\" + $json.body.venta.deleted_at + \"'\" : 'NULL' }}) ON DUPLICATE KEY UPDATE prospecto_id=VALUES(prospecto_id), vehiculo_id=VALUES(vehiculo_id), empleado_id=VALUES(empleado_id), monto=VALUES(monto), estado=VALUES(estado), deleted_at=VALUES(deleted_at);"
      },
      "id": "f3c9d2a4-b5c6-4d5e-8f7a-9a0b1c2d3e4d",
      "name": "Sync: Upsert Venta (Insurance)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        500,
        620
      ],
      "credentials": {
        "mySql": {
          "id": "mysql-conn-id",
          "name": "automotriz_db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO dashboard_db.ventas (id, prospecto_id, vehiculo_id, empleado_id, monto, estado, motivo_perdida, deleted_at) VALUES ({{ $('Webhook: Evento Venta').item.json.body.venta.id }}, {{ $('Webhook: Evento Venta').item.json.body.venta.prospecto_id }}, {{ $('Webhook: Evento Venta').item.json.body.venta.vehiculo_id }}, {{ $('Webhook: Evento Venta').item.json.body.venta.empleado_id }}, {{ $('Webhook: Evento Venta').item.json.body.venta.monto }}, '{{ $('Webhook: Evento Venta').item.json.body.venta.estado }}', {{ $('Webhook: Evento Venta').item.json.body.venta.motivo_perdida ? \"'\" + $('Webhook: Evento Venta').item.json.body.venta.motivo_perdida + \"'\" : 'NULL' }}, {{ $('Webhook: Evento Venta').item.json.body.venta.deleted_at ? \"'\" + $('Webhook: Evento Venta').item.json.body.venta.deleted_at + \"'\" : 'NULL' }}) ON DUPLICATE KEY UPDATE prospecto_id=VALUES(prospecto_id), vehiculo_id=VALUES(vehiculo_id), empleado_id=VALUES(empleado_id), monto=VALUES(monto), estado=VALUES(estado), motivo_perdida=VALUES(motivo_perdida), deleted_at=VALUES(deleted_at);"
      },
      "id": "f3c9d2a4-b5c6-4d5e-8f7a-9a0b1c2d3e5d",
      "name": "Sync: Upsert Venta (Dashboard)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        700,
        620
      ],
      "credentials": {
        "mySql": {
          "id": "mysql-conn-id",
          "name": "automotriz_db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT stock FROM sales_db.vehiculos WHERE id = {{ $('Webhook: Evento Venta').item.json.body.venta.vehiculo_id }};"
      },
      "id": "f3c9d2a4-b5c6-4d5e-8f7a-9a0b1c2d3e4b",
      "name": "Sync: Consultar Stock Venta",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        900,
        620
      ],
      "credentials": {
        "mySql": {
          "id": "mysql-conn-id",
          "name": "automotriz_db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE prospects_db.vehiculos SET stock = {{ $json.stock }} WHERE id = {{ $('Webhook: Evento Venta').item.json.body.venta.vehiculo_id }};"
      },
      "id": "f3c9d2a4-b5c6-4d5e-8f7a-9a0b1c2d3e4a",
      "name": "Sync: Actualizar Catalogo Stock",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1100,
        620
      ],
      "credentials": {
        "mySql": {
          "id": "mysql-conn-id",
          "name": "automotriz_db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM insurance_db.ventas WHERE id = {{ $json.body.venta.id }};"
      },
      "id": "f3c9d2a4-b5c6-4d5e-8f7a-9a0b1c2d3e4c",
      "name": "Sync: Delete Venta (Insurance)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        500,
        780
      ],
      "credentials": {
        "mySql": {
          "id": "mysql-conn-id",
          "name": "automotriz_db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM dashboard_db.ventas WHERE id = {{ $('Webhook: Evento Venta').item.json.body.venta.id }};"
      },
      "id": "f3c9d2a4-b5c6-4d5e-8f7a-9a0b1c2d3e5c",
      "name": "Sync: Delete Venta (Dashboard)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        700,
        780
      ],
      "credentials": {
        "mySql": {
          "id": "mysql-conn-id",
          "name": "automotriz_db"
        }
      }
    },
    {
      "parameters": {
        "path": "seguros",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "g4d0e3b5-c6d7-4e5f-8f7a-9a0b1c2d3e4f",
      "name": "Webhook: Evento Seguro",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        950
      ],
      "webhookId": "1b1c2d3e-4f5a-6b7c-8d9e-0a1b2c3d4e5f"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            {
              "value2": "deleted",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "c1a2b3c4-d5e6-7a8b-9c0d-1e2f3a4b5c6a",
      "name": "Switch: Accion Seguro",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        300,
        980
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO dashboard_db.seguros (id, venta_id, tipo_seguro, prima_esperada, prima_real, estado, deleted_at) VALUES ({{ $json.body.seguro.id }}, {{ $json.body.seguro.venta_id }}, '{{ $json.body.seguro.tipo_seguro }}', {{ $json.body.seguro.prima_esperada }}, {{ $json.body.seguro.prima_real ?? 'NULL' }}, '{{ $json.body.seguro.estado }}', {{ $json.body.seguro.deleted_at ? \"'\" + $json.body.seguro.deleted_at + \"'\" : 'NULL' }}) ON DUPLICATE KEY UPDATE venta_id=VALUES(venta_id), tipo_seguro=VALUES(tipo_seguro), prima_esperada=VALUES(prima_esperada), prima_real=VALUES(prima_real), estado=VALUES(estado), deleted_at=VALUES(deleted_at);"
      },
      "id": "g4d0e3b5-c6d7-4e5f-8f7a-9a0b1c2d3e4d",
      "name": "Sync: Upsert Seguro (Dashboard)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        500,
        920
      ],
      "credentials": {
        "mySql": {
          "id": "mysql-conn-id",
          "name": "automotriz_db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM dashboard_db.seguros WHERE id = {{ $json.body.seguro.id }};"
      },
      "id": "g4d0e3b5-c6d7-4e5f-8f7a-9a0b1c2d3e4c",
      "name": "Sync: Delete Seguro (Dashboard)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        500,
        1050
      ],
      "credentials": {
        "mySql": {
          "id": "mysql-conn-id",
          "name": "automotriz_db"
        }
      }
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Registrar Log de Eventos",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        400,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://websocket-service:6001/publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"event\": \"dashboard.refresh\", \"data\": {}}",
        "options": {}
      },
      "id": "w1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6e",
      "name": "Publish: WebSocket Refresh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1350,
        500
      ]
    }
  ],
  "connections": {
    "Cron Diario (8:00 AM)": {
      "main": [
        [
          {
            "node": "Consultar Prospectos Inactivos (>5 días)",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Consultar Prospectos Inactivos (>5 días)": {
      "main": [
        [
          {
            "node": "Inactivos Encontrados?",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Inactivos Encontrados?": {
      "main": [
        [
          {
            "node": "Disparar Alerta a Laravel",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Webhook: Evento Prospecto": {
      "main": [
        [
          {
            "node": "Registrar Log de Eventos",
            "index": 0,
            "type": "main"
          },
          {
            "node": "Switch: Accion Prospecto",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Switch: Accion Prospecto": {
      "main": [
        [
          {
            "node": "Sync: Upsert Prospecto (Sales)",
            "index": 0,
            "type": "main"
          }
        ],
        [
          {
            "node": "Sync: Delete Prospecto (Sales)",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Webhook: Evento Venta": {
      "main": [
        [
          {
            "node": "Registrar Log de Eventos",
            "index": 0,
            "type": "main"
          },
          {
            "node": "Switch: Accion Venta",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Switch: Accion Venta": {
      "main": [
        [
          {
            "node": "Sync: Upsert Venta (Insurance)",
            "index": 0,
            "type": "main"
          }
        ],
        [
          {
            "node": "Sync: Delete Venta (Insurance)",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Sync: Upsert Venta (Insurance)": {
      "main": [
        [
          {
            "node": "Sync: Upsert Venta (Dashboard)",
            "index": 0
          }
        ]
      ]
    },
    "Sync: Upsert Venta (Dashboard)": {
      "main": [
        [
          {
            "node": "Sync: Consultar Stock Venta",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Sync: Consultar Stock Venta": {
      "main": [
        [
          {
            "node": "Sync: Actualizar Catalogo Stock",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Sync: Delete Venta (Insurance)": {
      "main": [
        [
          {
            "node": "Sync: Delete Venta (Dashboard)",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Evento Seguro": {
      "main": [
        [
          {
            "node": "Registrar Log de Eventos",
            "index": 0,
            "type": "main"
          },
          {
            "node": "Switch: Accion Seguro",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Switch: Accion Seguro": {
      "main": [
        [
          {
            "node": "Sync: Upsert Seguro (Dashboard)",
            "index": 0,
            "type": "main"
          }
        ],
        [
          {
            "node": "Sync: Delete Seguro (Dashboard)",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Sync: Upsert Prospecto (Sales)": {
      "main": [
        [
          {
            "node": "Sync: Upsert Prospecto (Dashboard)",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Sync: Delete Prospecto (Sales)": {
      "main": [
        [
          {
            "node": "Sync: Delete Prospecto (Dashboard)",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Sync: Upsert Prospecto (Dashboard)": {
      "main": [
        [
          {
            "node": "Publish: WebSocket Refresh",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Sync: Delete Prospecto (Dashboard)": {
      "main": [
        [
          {
            "node": "Publish: WebSocket Refresh",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Sync: Actualizar Catalogo Stock": {
      "main": [
        [
          {
            "node": "Publish: WebSocket Refresh",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Sync: Delete Venta (Dashboard)": {
      "main": [
        [
          {
            "node": "Publish: WebSocket Refresh",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Sync: Upsert Seguro (Dashboard)": {
      "main": [
        [
          {
            "node": "Publish: WebSocket Refresh",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Sync: Delete Seguro (Dashboard)": {
      "main": [
        [
          {
            "node": "Publish: WebSocket Refresh",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "id": "1"
}